body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

    body.dark-mode .navbar,
    body.dark-mode .footer,
    body.dark-mode section.bg-dark {
        background-color: #1f1f1f !important;
    }

    body.dark-mode .bg-light {
        background-color: #2c2c2c !important;
        color: #e0e0e0;
    }

.theme-toggle {
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
}
